@font-face {
  font-family: "Pokemon  Solid";
  src: url("fonts/Pokemon-font.eot"),
    url("fonts/Pokemon-font.woff") format("woff"),
    url("fonts/Pokemon-font.ttf") format("truetype"),
    url("fonts/Pokemon-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.page1 {
  margin: auto 0%;
  background: url("grafika/Pikachu-SVG.svg") no-repeat;
}

/* .page1::after {
  content: "";
  background: url("grafika/fancy-background.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.pokemons-select {
  width: 50%;
  height: 35px;
  border: solid #ffd000 5px;
  border-radius: 20px;
}

.choose-pokemon {
  margin-bottom: 25px;
  font-family: "Pokemon  Solid";
  color: #de4604;
}

td {
  width: 50%;
}

.pikachu-image {
  background: url(grafika/pl.svg) no-repeat center center / contain;
  height: 210px;
}

.picture-display {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: antiquewhite;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10rem;
  background-color: white;
  height: 5rem;
}

.logo {
  width: 15rem;
}

.pokemon-napis {
  text-align: end;
  z-index: -1;
}
