@font-face {
  font-family: "Pokemon  Solid";
  src: url("fonts/Pokemon-font.eot"),
    url("fonts/Pokemon-font.woff") format("woff"),
    url("fonts/Pokemon-font.ttf") format("truetype"),
    url("fonts/Pokemon-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.page2 {
  margin: auto 0%;
  background: url("grafika/yellow-background-opacity.png") no-repeat;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.column {
  height: 50px;
  width: 20px;
}

.pokeball-box {
  background-color: #ffc266;
  height: 700px;
}

/* //Pola empty są wyświetlane tylko wtedy, gdy w pokeballu nie ma żadnych pokemonów// */
.empty {
  display: flex;
  justify-content: center;
  height: 650px;
  display: none;
}

.h-empty {
  font-family: "Pokemon  Solid";
  align-self: center;
}
footer {
  display: flex;
  text-align: end;
  justify-content: center;
  margin-top: 1rem;
  background-color: white;
  height: 5rem;
}

.logo {
  width: 15rem;
}
